.server__Settings {
  height: calc(100vh);
  width: 100vw;
  display: flex;
}

.server__menu {
  width: 204px;
  background-color: rgb(48, 48, 48);
  overflow-y: auto;
}

.servermenu__wrapper {
  margin: 30px 0 0 40px;
}

.overview {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
  color: rgba(131, 131, 133, 255);
  text-transform: uppercase;
  font-size: 15px;
  font-family: cursive;
  letter-spacing: 1.3px;
}

.hovered {
  color: white !important;
}

.delhovered {
  color: rgb(255, 0, 0) !important;
}

.border {
  height: 1px;
  width: 80%;
  border: 0.5px solid rgb(160, 160, 160);
  margin-bottom: 12px;
}

.del__server {
  color: rgb(190, 40, 40);
}

.content {
  display: flex;
  width: calc(100vw - 204px);
  justify-content: center;
  background-color: rgb(63, 63, 63);
  font-family: cursive;
}

.set__content {
  margin-top: 30px;
  width: 90%;
}

.sett__name {
  font-size: 18px;
}

.set__1 {
  margin-top: 20px;
  font-size: 14px;
  color: rgb(175, 175, 175);
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.set__1 > p {
  margin: 10px 0;
  margin-right: 15px;
}

.set__1 > input {
  height: 40px;
  width: 70%;
  border: 1px solid black;
  background-color: rgb(48, 48, 48);
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.set__footer {
  margin-top: 30px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.set__footer > button {
  background-color: rgb(85, 90, 99);
  color: white;
  margin: 7px;
  font-size: 16px;
  padding: 5px 15px;
  border-radius: 10px;
  cursor: pointer;
}
